.post {
	background-color: white;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	.post-thumbnail {
		overflow: hidden;
		text-align: center;
	}
	.entry-meta {
		display: flex;
		align-items: center;
		font-size: 12px;
		.article-post-date,
		.article-update-date {
			.icon-common {
				margin-right: 2px;
			}
			display: flex;
			align-items: center;
			color: #707070;
			margin-right: 8px;
		}
		.badge-container {
			margin-right: 8px;
		}
		.article-views {
			margin-right: 8px;
			.icon-eye {
				margin-right: 4px;
			}
			color: #494949;
			display: flex;
			align-items: center;
		}
	}
}

.page-multi {
	@media screen and (max-width: 800px) {}
	@media screen and (min-width: 801px) {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}
	margin-bottom: 30px;
	article {
		display: flex;
		flex-direction: column;
		margin-bottom: 12px;
		padding-bottom: 8px;
		@media screen and (max-width: 800px) {
			width: calc(100% - 12px);
		}
		@media screen and (min-width: 801px) {
			width: calc(50% - 6px);
		}
		.post-thumbnail {
			background-color: #eaeaea;
			position: relative;
			@media screen and (max-width: 800px) {
				height: 180px;
			}
			@media screen and (min-width: 801px) {
				height: 220px;
			}
			.wp-post-image {
				height: 100%;
				width: 100%;
				object-fit: cover;
				@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
					width: auto;
					max-width: 1000%;
				}
			}
			&.post-thumbnail-no-image {
				background-image: url("./resources/no-image.png");
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
			}
			&:hover {
				&:before,
				&:after {
					content: "";
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;
				}
				&:before {
					background-color: rgba(0, 0, 0, 0.4);
				}
				&:after {
					background-image: url("./resources/site-logo-mini.svg");
					background-repeat: no-repeat;
					background-position: center;
					background-size: 60%;
				}
			}
		}
		.entry-header {
			margin: auto 10px 0 10px;
			.entry-title {
				margin-bottom: 6px;
				max-height: 3em;
				overflow: hidden;
				max-width: 100%;
				a {
					color: #2c2d2f;
					font-weight: 600;
					font-size: 18px;
				}
			}
		}
	}
}

.page-single {
	.post {
		.post-thumbnail {
			text-align: center;
			max-height: 400px;
			.wp-post-image {
				max-height: 100%;
				max-width: 100%;
				height: auto;
				width: auto;
			}
		}
	}
}

abbr[title] {
	border-bottom: 1px dotted;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}


address {
	margin: 0 0 1.5em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

big {
	font-size: 125%;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}


figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/


/* Text meant only for screen readers. */

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}


/* Do not show the outline on the skip link target. */

#content[tabindex="-1"]:focus {
	outline: 0;
}


/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}


/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}



/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/


/* Globally hidden elements when Infinite Scroll is supported and in use. */

.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}


/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */

.infinity-end.neverending .site-footer {
	display: block;
}


/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}



/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}