p {
	margin: 0 0 6px 0;
}

ul,
ol {
	padding-left: 1.5em;
	margin-top: 4px;
	margin-bottom: 10px;
	ul,
	ol {
		margin: 0;
	}
}

dl {
	dt {
		font-weight: 600;
	}
	dd {
		margin-left: 14px;
		margin-bottom: 6px;
	}
}

code,
kbd,
pre,
samp {
	display: inline-block;
	padding: 0 2px;
	font-family: monospace, monospace;
	font-size: 1em;
	background-color: #f9f9f9;
	border-radius: 2px;
	border: 1px solid #f9f9f9;
}

mark,
ins {
	padding: 0 2px;
	display: inline-block;
	background: #fff9c0;
	border-radius: 2px;
	border: 1px solid #fff9c0;
	text-decoration: none;
}

.entry-content,
.comment-content {
	font-size: 14px;
	h1 {
		font-size: 36px;
		border-bottom: 1px solid #ddd;
		margin: 20px 0 16px 0;
	}
	h2 {
		font-size: 26px;
		border-left: 6px solid $baseYellow;
		padding-left: 12px;
		margin: 38px 0 12px 0;
		font-weight: 500;
	}
	h3 {
		font-size: 20px;
		font-weight: bold;
		margin: 20px 0 4px 0;
	}
	blockquote {
		margin: 8px 0;
		padding: 20px 40px;
		border-left: 2px solid #ddd;
		background-color: #f9f9f9;
		font-style: italic;
		font-family: "MS PGothic";
		line-height: 1.4em;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
		margin-bottom: 16px;
		td,
		th {
			padding: 5px 5px;
		}
		tr {
			border-top: 1px solid #dadada;
		}
		tbody tr:last-child {
			border-bottom: 1px solid #dadada;
		}
		thead tr {
			border-bottom: 1px solid #b3b3b3;
			border-top: 1px solid #b3b3b3;
			
		}
	}
	img {
		max-width: 100%;
		height: auto;
	}
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 13px;
	line-height: 1em;
	margin-bottom: 20px;
	overflow: auto;
	padding: 18px 20px;
	white-space: pre-wrap;
}