.icon-common {
	display: inline-block;
	width: 22px;
	height: 22px;
	background-size: contain;
}
.icon-eye {
	background-image: url("./resources/eye.svg");
}

.icon-calendar-clock {
	background-image: url("./resources/calendar-clock.svg");
}

.icon-update {
	background-image: url("./resources/update.svg");
}
