.widget-title {
	border-left: 6px solid $baseYellow;
	padding-left: 8px;
	font-size: 16px;
	margin-bottom: 6px;
}
.textwidget {
	padding-left: 10px;
	font-size: 13px;
	.widget-title {
		margin-left: -10px;
		&.widget-title-overview {
			display: flex;
			align-items: center;
			.img-title-logo {
				margin-right: 2px;
				width: 120px;
				height: auto;
			}
		}
	}
}